
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}


h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: #3b3b3b;
}





