.pet-card {
  background-color: #fff !important;
  border-radius: 12px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
  max-width: 300px !important;
  margin: 10px !important; /* Note que este margin pode ser removido se você usar `gap` no container */
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
  transition: transform 0.3s ease !important;
  height: 100% !important;

}

.pet-card:hover {
  transform: scale(1.03) !important;
}

.pet-card__image {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
}

.pet-card__content {
  padding: 16px !important;
  flex: 1 !important;
}

.pet-card__name {
  font-size: 1.4rem !important;
  margin-bottom: 10px !important;
 color: #ecc85c !important;
  font-weight: bold !important;
}

.pet-card__details {
  font-size: 0.95rem !important;
  color: #555 !important;
}

.pet-card__details dt {
  font-weight: bold !important;
  margin-top: 8px !important;
}

.pet-card__details dd {
  margin: 0 0 8px 0 !important;
}

.pet-card__button {
  background-color: #f0a06f !important;
  color: #fff !important;
  border: none !important;
  padding: 12px !important;
  width: 100% !important;
  cursor: pointer !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  border-top: 1px solid #eee !important;
  transition: background-color 0.2s ease !important;
}

.pet-card__button:hover {
  background-color: #de8a58 !important;
}

.pet-card__no-image {
  padding: 20px !important;
  text-align: center !important;
  color: red !important;
  background-color: #ffe5e5 !important;
}