.pet-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  background: #fefaf7;
}


.adopt-button {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  background: #dfb9a9;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}